<h1>{{ title }}</h1>

<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<agm-map [latitude]=7.117810 [longitude]=-73.105206 [zoom]=16>


  //In theory current position
  <agm-marker [latitude]=7.117810 [longitude]=-73.105206 [label]="You" >
    <agm-info-window>
      <<div class="row">
        <div class="col-md-4">
  <div class="card text-white bg-dark mb-3" style="max-width: 25rem;">
    <div class="card-header">Renta un auto</div>
    <div class="card-body">
      <img src="assets/img/Nepcar.png" class="card-img-top" alt="...">
      <br>
      <br>
      <a href="../Pay" class="btn btn-outline-secondary">Rentar</a>
    </div>
  </div>
        </div>


        <div class="col-md-4">
          <div class="card text-white bg-dark mb-3" style="max-width: 25rem;">
            <div class="card-header">Renta una moto</div>
            <div class="card-body">
              <img src="assets/img/Nepmoto.png" class="card-img-top" alt="...">
              <a href="../Pay" class="btn btn-outline-secondary">Rentar</a></div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card text-white bg-dark mb-3" style="max-width: 25rem;">
            <div class="card-header">Renta un hoverboard</div>
            <div class="card-body">
              <img src="assets/img/Nepboard.png" class="card-img-top" alt="...">
              <br>
              <br>

              <a href="../Pay" class="btn btn-outline-secondary">Rentar</a> </div>
          </div>
        </div>


      </div>
    </agm-info-window>
  </agm-marker>


  <agm-marker [latitude]=7.119561 [longitude]=-73.108162>
    <agm-info-window>
      <h3><strong>Howdy!</strong></h3>
      <p>You are here!</p>
    </agm-info-window>
  </agm-marker>

  <agm-marker [latitude]=7.115699 [longitude]=-73.111827>
    <agm-info-window>
      <h3><strong>Howdy!</strong></h3>
      <p>You are here!</p>
    </agm-info-window>
  </agm-marker>

  <agm-marker [latitude]=7.116824 [longitude]=-73.116238>
    <agm-info-window>
      <h3><strong>Howdy!</strong></h3>
      <p>You are here!</p>
    </agm-info-window>
  </agm-marker>

  <agm-marker [latitude]=7.110674 [longitude]=-73.103437>
    <agm-info-window>
      <h3><strong>Howdy!</strong></h3>
      <p>You are here!</p>
    </agm-info-window>
  </agm-marker>

  <agm-marker [latitude]=7.124614 [longitude]=-73.121336></agm-marker>

  <agm-marker [latitude]=7.109699 [longitude]=-73.118601></agm-marker>

  <agm-marker [latitude]=7.118094 [longitude]=-73.123253></agm-marker>

  <agm-marker [latitude]=7.129464 [longitude]=-73.110630></agm-marker>








</agm-map>
