<br>
<br>
<div class ="container">


  <h1>Reserva un vehiculo</h1>
  <br>

  <fieldset class="form-group">
    <div class="row">
      <div class="col-md-4">
        <div class="card text-white bg-dark mb-3" style="max-width: 25rem;">
          <div class="card-header">Reserva un auto</div>
          <div class="card-body">
            <img src="assets/img/Nepcar.png" class="card-img-top" alt="...">
            <br>
            <br>
            <a href="../Reserve" class="btn btn-outline-secondary">Reservar</a>
          </div>
        </div>
      </div>


      <div class="col-md-4">
        <div class="card text-white bg-dark mb-3" style="max-width: 25rem;">
          <div class="card-header">Reserva una moto</div>
          <div class="card-body">
            <img src="assets/img/Nepmoto.png" class="card-img-top" alt="...">
            <a href="../Reserve" class="btn btn-outline-secondary">Reservar</a></div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card text-white bg-dark mb-3" style="max-width: 25rem;">
          <div class="card-header">Reserva un hoverboard</div>
          <div class="card-body">
            <img src="assets/img/Nepboard.png" class="card-img-top" alt="...">
            <br>
            <br>

            <a href="../Reserve" class="btn btn-outline-secondary">Reservar</a> </div>
        </div>
      </div>


    </div>


    <br>

    <div class="row">
      <div class="col-md-4">
        <div class="card text-white bg-dark mb-3" style="max-width: 25rem;">
          <div class="card-header">Reserva un monopatín</div>
          <div class="card-body">
            <img src="assets/img/Nepatin.png" class="card-img-top" alt="...">
            <a href="../Reserve" class="btn btn-outline-secondary">Reservar</a></div>
        </div>
      </div>


      <div class="col-md-4">
        <div class="card text-white bg-dark mb-3" style="max-width: 25rem;">
          <div class="card-header">Reserva una bicicleta</div>
          <div class="card-body">
            <img src="assets/img/Nepcleta.png" class="card-img-top" alt="...">
            <br>
            <br>
            <br>
            <br>

            <a href="../Reserve" class="btn btn-outline-secondary">Reservar</a></div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card text-white bg-dark mb-3" style="max-width: 25rem;">
          <div class="card-header">Reserva una patineta</div>
          <div class="card-body">
            <img src="assets/img/Nepneta.png" class="card-img-top" alt="...">
            <a href="../Reserve" class="btn btn-outline-secondary">Reservar</a> </div>
        </div>
      </div>


    </div>









  </fieldset>

</div>
