<div *ngIf="7.117810 && -73.105206">

  <agm-map [latitude]="7.117810" [longitude]="-73.105206" [zoom]=16>

    <agm-marker [latitude]="7.117810" [longitude]="-73.105206" >

      <agm-info-window>
        <h3><strong>Nep's parking</strong></h3>
        <a href="../Rent" class="btn btn-primary">Rentar un vehículo</a>
      </agm-info-window>

    </agm-marker>


    <agm-marker [latitude]=7.119561 [longitude]=-73.108162>
        <agm-info-window>
              <h3><strong>Noire's parking</strong></h3>
              <a href="../Rent" class="btn btn-primary">Rentar un vehículo</a>
            </agm-info-window>
      </agm-marker>

      <agm-marker [latitude]=7.115699 [longitude]=-73.111827>
        <agm-info-window>
              <h3><strong>Blanc's parking</strong></h3>
              <fieldset class="form-group">
                <div class="row">
                  <div class="col-md-4">
            <div class="card text-white bg-dark mb-3" style="max-width: 25rem;">
              <div class="card-header">Renta un auto</div>
              <div class="card-body">
                <img src="assets/img/Nepcar.png" class="card-img-top" alt="...">
                <br>
                <br>
                <a href="../Pay" class="btn btn-outline-secondary">Rentar</a>
              </div>
            </div>
                  </div>


                  <div class="col-md-4">
                    <div class="card text-white bg-dark mb-3" style="max-width: 25rem;">
                      <div class="card-header">Renta una moto</div>
                      <div class="card-body">
                        <img src="assets/img/Nepmoto.png" class="card-img-top" alt="...">
                        <a href="../Pay" class="btn btn-outline-secondary">Rentar</a></div>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="card text-white bg-dark mb-3" style="max-width: 25rem;">
                      <div class="card-header">Renta un hoverboard</div>
                      <div class="card-body">
                        <img src="assets/img/Nepboard.png" class="card-img-top" alt="...">
                        <br>
                        <br>

                        <a href="../Pay" class="btn btn-outline-secondary">Rentar</a> </div>
                    </div>
                  </div>


                </div>


              <br>

                <div class="row">
                  <div class="col-md-4">
                    <div class="card text-white bg-dark mb-3" style="max-width: 25rem;">
                      <div class="card-header">Renta un monopatín</div>
                      <div class="card-body">
                        <img src="assets/img/Nepatin.png" class="card-img-top" alt="...">
                        <a href="../Pay" class="btn btn-outline-secondary">Rentar</a></div>
                    </div>
                  </div>


                  <div class="col-md-4">
                    <div class="card text-white bg-dark mb-3" style="max-width: 25rem;">
                      <div class="card-header">Renta una bicicleta</div>
                      <div class="card-body">
                        <img src="assets/img/Nepcleta.png" class="card-img-top" alt="...">
                        <br>
                        <br>
                        <br>
                        <br>

                        <a href="../Pay" class="btn btn-outline-secondary">Rentar</a></div>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="card text-white bg-dark mb-3" style="max-width: 25rem;">
                      <div class="card-header">Renta una patineta</div>
                      <div class="card-body">
                        <img src="assets/img/Nepneta.png" class="card-img-top" alt="...">
                        <a href="../Pay" class="btn btn-outline-secondary">Rentar</a> </div>
                    </div>
                  </div>


                </div>









              </fieldset>
            </agm-info-window>
      </agm-marker>

      <agm-marker [latitude]=7.116824 [longitude]=-73.116238>
        <agm-info-window>
              <h3><strong>Vert's Parking</strong></h3>
              <a href="../Rent" class="btn btn-primary">Rentar un vehículo</a>
            </agm-info-window>
      </agm-marker>

      <agm-marker [latitude]=7.110674 [longitude]=-73.103437>
        <agm-info-window>
              <h3><strong>Planeptune</strong></h3>
              <a href="../Rent" class="btn btn-primary">Rentar un vehículo</a>
            </agm-info-window>
      </agm-marker>

      <agm-marker [latitude]=7.124614 [longitude]=-73.121336>
        <agm-info-window>
              <h3><strong>Lastation</strong></h3>
              <a href="../Rent" class="btn btn-primary">Rentar un vehículo</a>
            </agm-info-window>
      </agm-marker>

      <agm-marker [latitude]=7.109699 [longitude]=-73.118601>
        <agm-info-window>
              <h3><strong>Lowee</strong></h3>
              <a href="../Rent" class="btn btn-primary">Rentar un vehículo</a>
            </agm-info-window>
      </agm-marker>

      <agm-marker [latitude]=7.118094 [longitude]=-73.123253>
        <agm-info-window>
              <h3><strong>Leanbox</strong></h3>
              <a href="../Rent" class="btn btn-primary">Rentar un vehículo</a>
            </agm-info-window>
      </agm-marker>

      <agm-marker [latitude]=7.129464 [longitude]=-73.110630>
        <agm-info-window>
              <h3><strong>NextForm</strong></h3>
              <a href="../Rent" class="btn btn-primary">Rentar un vehículo</a>
            </agm-info-window>
      </agm-marker>



      <agm-circle [latitude]="7.129464" [longitude]="-73.110630"
      [radius]="500" [circleDraggable]="true" [editable]="true" [fillColor]="'blue'">

  </agm-circle>

  </agm-map>

<div>
